.overflow-y-auto::-webkit-scrollbar,
.overflow-y-scroll::-webkit-scrollbar,
.overflow-x-auto::-webkit-scrollbar,
.overflow-x::-webkit-scrollbar,
.overflow-x-scroll::-webkit-scrollbar,
.overflow-y::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.overflow-y-auto,
.overflow-y-scroll,
.overflow-x-auto,
.overflow-x,
.overflow-x-scroll,
.overflow-y,
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

svg.paint-icon {
    fill: currentcolor;
}

input:checked ~ .block {
    background-color: #289455;
}

input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #37ff8a;
}

.mde-tabs > button {
    color: black;
    padding: 0.5em;
}

.mde-text {
    color: black;
    font-weight: normal;
}

.mde-preview {
    background: white;
    color: black;
}
